# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
.env

# Logs
logs
*.log
logs/*.log

# Build output
dist/
build/
.cache/

# Editor settings
.vscode/
.idea/
.DS_Store

# React
*.local
coverage/
